{% extends "base.html" %} {% load static %} {%block content%}
>
<section class="section-pagetop bg">
  <div class="container">
    <h2 class="title-page">Our Store</h2>
  </div>
  <!-- container //  -->
</section>

<section class="section-content padding-y">
  <div class="container">
    <div class="row">
      <aside class="col-md-3">
        <div class="card">
          <article class="filter-group">
            <header class="card-header">
              <a
                href="#"
                data-toggle="collapse"
                data-target="#collapse_1"
                aria-expanded="true"
                class=""
              >
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Loại sản phẩm</h6>
              </a>
            </header>
            <div class="filter-content collapse show" id="collapse_1" style="">
              <div class="card-body">
                <ul class="list-menu w-100">
                  {%for category in categories%}
                  
                  <div class="btn-group dropright w-100 mb-2 ">
                    {% if category.slug == current_category %}
                    <a href="{% url 'product_by_category' category.slug%}" type="button" class=" btn btn-outline-primary w-100 ">
                    {% else %}
                    <a href="{% url 'product_by_category' category.slug%}" type="button" class=" btn btn-link w-100 ">
                    {% endif %}
                      {{category.category_name}}
                    </a>
                    <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="sr-only">Toggle Dropright</span>
                    </button>
                    <div class="dropdown-menu">
                      <!-- Dropdown menu links -->
                        

                        {% for sub_category in sub_categories %}
                            {% if sub_category.category == category %} <!-- Kiểm tra SubCategory thuộc về Category nào -->
                                {% if current_sub_category ==  sub_category.slug%}
                                    <a class="dropdown-item active" href="{% url 'product_by_category_and_sub_category' category.slug sub_category.slug %}">
                                {% else %}
                                    <a class="dropdown-item " href="{% url 'product_by_category_and_sub_category' category.slug sub_category.slug %}">
                                {% endif %}
                                  {{ sub_category.sub_category_name }}
                              </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                  </div>

                  {%endfor%}
                </ul>
              </div>
              <!-- card-body.// -->
            </div>
          </article>
          <!-- filter-group .// -->
        </div>
        <!-- card.// -->
      </aside>
      <!-- col.// -->
      <main class="col-md-9">
        <header class="border-bottom mb-4 pb-3">
          <div class="form-inline">
            {% comment %} <span class="mr-md-auto">Tìm thấy {{ products|length }} sản phẩm</span> {% endcomment %}
          </div>
        </header>
        <!-- sect-heading -->

        {% if  products|length == 0 %}
        <h1 class="text-center">Chưa có sản phẩm nào!</h1>
        {% else %}
        <div class="row">
          {%for product in products%}
          <div class="col-md-4">
            <figure class="card card-product-grid">
              <div class="img-wrap">
                <a href="{{product.get_url}}">
                  <img src="{{product.images}}" />
                </a>
              </div>
              <!-- img-wrap.// -->
              <figcaption class="info-wrap">
                <div class="fix-height">
                  <a href="{{product.get_url}}" class="title"
                    >{{product.product_name}}</a
                  >
                  <div class="price-wrap mt-2">
                    <span class="price">{{ product.price }}</span>
                    <del class="price-old">{{product.price_sale}}</del>
                  </div>
                  <!-- price-wrap.// -->
                </div>
                {% if product.in_cart %}
                <a  class="disabled btn btn-block btn-success text-white">Đã thêm vào giỏ</a>
                {% else %}
                <a href="{%url 'add_cart' product.id%}" class=" btn btn-block btn-primary" >Thêm vào giỏ hàng</a>
                {%endif%}
              </figcaption>
            </figure>
          </div>
          <!-- col.// -->
          {% endfor %}
        </div>
        <!-- row end.// -->
        {% endif %}
        

        <!-- phân trang -->
    <div class="pagination mt-4" style="margin-left: 35%">
      <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
              {% if products.has_previous %}
                  <li class="page-item">
                      <a class="page-link" href="?page=1" aria-label="First">
                          <span aria-hidden="true">&laquo;&laquo;</span>
                      </a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="?page={{ products.previous_page_number }}" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                      </a>
                  </li>
              {% else %}
                  <li class="page-item disabled">
                      <span class="page-link">&laquo;&laquo;</span>
                  </li>
                  <li class="page-item disabled">
                      <span class="page-link">&laquo;</span>
                  </li>
              {% endif %}

              {% for page_num in products.paginator.page_range %}
                  {% if products.number == page_num %}
                      <li class="page-item active">
                          <span class="page-link">{{ page_num }}</span>
                      </li>
                  {% elif page_num >= products.number|add:'-2' and page_num <= products.number|add:'2' %}
                      <li class="page-item">
                          <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                      </li>
                  {% endif %}
              {% endfor %}

              {% if products.has_next %}
                  <li class="page-item">
                      <a class="page-link" href="?page={{ products.next_page_number }}" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                      </a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="?page={{ products.paginator.num_pages }}" aria-label="Last">
                          <span aria-hidden="true">&raquo;&raquo;</span>
                      </a>
                  </li>
              {% else %}
                  <li class="page-item disabled">
                      <span class="page-link">&raquo;</span>
                  </li>
                  <li class="page-item disabled">
                      <span class="page-link">&raquo;&raquo;</span>
                  </li>
              {% endif %}
          </ul>
      </nav>
  </div>
  <!-- Kết thúc phân trang -->
      </main>
      <!-- col.// -->
    </div>
  </div>
  <!-- container .//  -->
</section>

{%endblock%}
