{% extends "base.html" %}
{%load static%}

{% block content %}

<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
<div class="container">

<div class="intro-banner-wrap">
	<img src="https://i.postimg.cc/Bn4HDV8K/banner.jpg" class="img-fluid rounded"/>
</div>

</div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
<div class="container">

<header class="section-heading">
	<a href="./sanpham" class="btn btn-outline-primary float-right">Xem tất cả</a>
	<h3 class="section-title">Sản Phẩm Mới Nhất</h3>
</header><!-- sect-heading -->

	
<div class="row">
	{% for product in products %}
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="{{product.get_url}}" class="img-wrap"> <img src="{{product.images}}"> </a>
			<figcaption class="info-wrap">
				<a href="{{product.get_url}}" class="title text-truncate">{{product.product_name}}</a>
				<div class="price mt-1">{{product.price}} 
					<del class="price-old">{{product.price_sale}}</del>
				</div> <!-- price-wrap.// -->
				<div class="text-center mt-2"> 
					{% if product.in_cart %}
					<a href="#" class="btn btn-success disabled">Đã trong giỏ hàng</a>
					{%else%}
					<a href="{% url 'add_cart' product.id %}" class="btn btn-primary">Thêm vào giỏ hàng</a>
					{% endif %}
				</div> <!-- action-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	{% endfor %}
</div> <!-- row.// -->

</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->

{% endblock %}




</body>
</html>